name: Build Linux 64-bit

on:
  workflow_call:

jobs:
  linux:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y binutils git cmake build-essential \
            zlib1g-dev libsdl2-dev libglu1-mesa-dev libglew-dev \
            libsdl2-image-dev libsdl2-mixer-dev libtheora-dev \
            libogg-dev libvorbis-dev

      - name: Update submodules and Build
        run: |
          git submodule update --init --recursive
          cd vendor
          ./build-sdl-gpu.sh linux
          cd ..
          ./build.sh linux
          ./build.sh packages

      - name: Upload BennuGD2 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BennuGD2-linux
          path: packages/bgd2-*.tgz
