name: Build macOS

on:
  workflow_dispatch:

jobs:
  macosx:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up osxcross
        run: |
          sudo apt update
          sudo apt install -y wget git cmake clang pkg-config tar xz-utils \
            gobjc gobjc++ libobjc-9-dev openssl
          mkdir -p /opt
          cd /opt
          git clone https://github.com/tpoechtrager/osxcross.git
          cd osxcross
          wget -nc https://github.com/joseluisq/macosx-sdks/releases/download/10.10/MacOSX10.10.sdk.tar.xz
          mv MacOSX10.10.sdk.tar.xz tarballs/
          sudo ./tools/get_dependencies.sh
          UNATTENDED=yes ./build.sh
          echo "#### Setup done ####"

      - name: Install dependencies
        run: |
          sudo mkdir -p /opt/osxcross/target/macports/
          echo "http://www.mirrorservice.org/sites/packages.macports.org" | sudo tee /opt/osxcross/target/macports/MIRROR
          sudo sed -i '/^verifyFileIntegrity()/,/^}/cverifyFileIntegrity() { return 0; }' \
            /opt/osxcross/target/bin/osxcross-macports
          sudo UNATTENDED=yes \
            OSX_VERSION_MIN=10.7 \
            PATH=/opt/osxcross/target/bin:$PATH \
            SDKROOT=/opt/osxcross/target/SDK/MacOSX10.10.sdk \
            MACOSX_DEPLOYMENT_TARGET=10.10 \
            /opt/osxcross/target/bin/osxcross-macports -v install \
              libtheora libsdl2 libsdl2_image libsdl2_mixer glew

      - name: Update submodules and Build
        run: |
          export OSX_VERSION_MIN=10.7
          export PATH=/opt/osxcross/target/bin:$PATH
          export SDKROOT=/opt/osxcross/target/SDK/MacOSX10.10.sdk
          export MACOSX_DEPLOYMENT_TARGET=10.10

          git submodule update --init --recursive
          cd vendor
          ./build-sdl-gpu.sh macosx
          cd ..
          ./build.sh macosx
          ./build.sh packages

      - name: Upload BennuGD2 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BennuGD2-macosx
          path: packages/x86_64-apple-darwin14-*.tgz
