name: Build Nintendo Switch

on:
  workflow_dispatch:

jobs:
  switch:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up DevkitPro
        run: |
          sudo apt update
          sudo apt install -y wget git cmake build-essential
          wget https://github.com/devkitPro/pacman/releases/latest/download/devkitpro-pacman.amd64.deb
          sudo dpkg -i devkitpro-pacman.amd64.deb
          sudo dkp-pacman -Sy
          sudo dkp-pacman -S --noconfirm \
            switch-dev switch-sdl2 switch-sdl2_image switch-sdl2_mixer \
            switch-libtheora switch-libogg switch-libvorbis

      - name: Update submodules and Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          git submodule update --init --recursive
          cd vendor
          ./build-sdl-gpu.sh switch
          cd ..
          ./build.sh switch
          ./build.sh packages

      - name: Upload BennuGD2 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: BennuGD2-switch
          path: packages/bgd2-aarch64-none-elf-*.tgz
