name: Build All Platforms

on:
  workflow_dispatch:

jobs:
  linux:
    uses: ./.github/workflows/build-linux.yml

  windows:
    uses: ./.github/workflows/build-windows.yml

  macosx:
    uses: ./.github/workflows/build-macosx.yml

  switch:
    uses: ./.github/workflows/build-switch.yml
